body {
    overflow: hidden;
}

ul li {
    padding-left: 2%;
    font-weight: bolder;
}

.navigation {
    padding: 2% 10%;
    line-height: 1.5;
    background-color: #08d9d6;
}

img {
    width: 350px;
}

.grey {
    color: grey;
    letter-spacing: 2px;
}

.big-heading {
    font-family: Montserrat;    
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1;
}

#content {
    padding: 7% 0;
}

footer {
    text-align: center;
}

@media ( Max-width: 827px) {
    nav ul li {
        text-align: center;
    }

    #content {
        padding: 15% 0;
    }

    img {
        width: 200px;
        margin: 0 10%;
    }

    footer {
        padding: 6% 0;
    }

}